@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --a: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.close {
    display: none;
}

body {
    background-color: black;
    color: white;
    height: 100vh;
    /* overflow: hidden; */
}

.left {
    width: 25vw;
    padding: 10px;
}

.right {
    width: 75vw;
}

.home {
    padding: 20px;
}

.home ul li {
    display: flex;
    gap: 15px;
    width: 14px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
}

.heading {
    display: flex;
    gap: 15px;
    list-style: none;
    width: 100%;
    padding-top: 14px;
    padding: 23px 14px;
    align-items: center;
    font-size: 13px;
}

.heading img {
    width: 30px;
}

.library {
    min-height: 80vh;
    position: relative;
}

.footer {
    display: flex;
    font-size: 10px;
    gap: 13px;
    position: absolute;
    bottom: 0;
    padding: 34px 0;
    flex-wrap: wrap;

}

.footer a {
    color: gray;
}

.right {
    margin: 16px 0;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
    border-radius: 7px;
}

.header>* {
    padding: 20px;
}

.spotifyPlaylists {
    padding: 16px;
}

.spotifyPlaylists h1 {
    padding: 16px;
}

.cardContainer {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 30px;
    overflow-y: auto;
    max-height: 60vh;
}

.card {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
    transition: all 0.5s;

}

.card>* {
    padding: 10px 0;
}

.card img {
    width: 100%;
    object-fit: contain;
}

.card:hover {
    background-color: rgb(81, 81, 81);
    cursor: pointer;
    --a: 1;
}

.play {
    position: absolute;
    bottom: 150px;
    right: 18px;
    transition: all 1s ease-out;
    opacity: var(--a);
}

.buttons>* {
    margin: 0 12px;
}

.signupbtn {
    background-color: rgb(34, 34, 34);
    color: rgb(156, 148, 148);
    font-weight: bold;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}

.signupbtn:hover {
    font-size: 17px;
    color: white;
}

.loginbtn {
    background-color: white;
    border-radius: 21px;
    border: none;
    color: black;
    padding: 10px;
    width: 79px;
    cursor: pointer;
    font-size: 16px;
}

.loginbtn:hover {
    width: 80px;
    font-weight: bold;
    font-size: 17px;
}

.playbar {
    /* display: flex; */
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 30px;
    background-color: rgb(255, 255, 255);
    width: 95%;
    padding: 12px;
    width: 70vw;
    filter: invert(1);
    background: rgb(225, 218, 218);
    border-radius: 10px;
    min-height: 40px;
}

.songbuttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.songList {
    height: calc(80vh - 180px);
    overflow-y: auto;
    margin-bottom: 44px;
}

.nav {
    cursor: pointer;
}

.hamburger {
    display: none;
}


.hamburgerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;

}

.songList ul {
    padding: 0 12px;
}

.songList ul li {
    list-style-type: decimal;
    display: flex;
    gap: 10px;
    cursor: pointer;
    padding: 12px 0;
    border: 1px solid white;
    margin: 12px 0;
    padding: 13px;
    border-radius: 5px;
}

.songList .info {
    font-size: 10px;
    width: 344px;
    display: flex;
    align-items: center;
    justify-content: fl;

}

.info div {
    word-break: break-all;
}

.playnow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.playnow span {
    font-size: 15px;
    width: 64px;
    padding: 12px;
}

.seekbar {
    height: 4px;
    width: 98%;
    background-color: black;
    border-radius: 10px;
    position: absolute;
    bottom: 8px;
    margin: 6px;
    cursor: pointer;
}

.circle {
    width: 13px;
    height: 13px;
    border-radius: 50px;
    background-color: black;
    position: relative;
    bottom: 6px;
    left: 0%;
    transform: left 0.5s;
}

.songbuttons img {
    cursor: pointer;
}

.songinfo {
    color: black;
    padding: 0 12px;
    font-size: 10px;
    width: 240px;
}

.songtime {
    color: black;
    padding: 0 12px;
    font-size: 10px;
    width: 125px;
}

.volume {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    position: relative;
    left: 50px;
}

.range input {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.volume:hover .range input {
    opacity: 1;
    pointer-events: auto;
}




/* // */
.range input {
    -webkit-appearance: none;
    appearance: none;
    width: 60%;
    height: 6px;
    background: #1f1f1f;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
    filter: invert(1);
}

/* Track fill effect */
.range input::-webkit-slider-runnable-track {
    height: 6px;
    background: linear-gradient(90deg, #6366f1, #a855f7);
    border-radius: 50px;
}

.range input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #e4e46e;
    border: 3px solid #abc666;
    margin-top: -5px;
    transition: transform 0.2s ease;
}

.range input::-webkit-slider-thumb:hover {
    transform: scale(1.1);
}


/* \\ */

.abovebar {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.timevol {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@media (max-width: 1200px) {
    .left {
        position: absolute;
        left: -153%;
        transition: all 1s;
        z-index: 1;
        width: 350px;
        background-color: black;
        padding: 0;
        height: 100vh;
        position: fixed;
        top: 0;
    }

    .left .close {
        position: absolute;
        right: 31px;
        top: 25px;
        width: 29px;
    }

    .right {
        width: 100vw;
    }

    .playbar {
        width: calc(100vw - 50px);
    }

    .seekbar {
        width: calc(100vw - 60px);
    }

    .hamburger {
        display: block;
    }

    .right {
        margin: 0;
    }

    .header{
        border-radius: 0px;
    }

    .card {
        width: 55vw;
    }

    .cardContainer {
        margin: 0;
        justify-content: center;
    }

    .close {
        display: block;
    }

    .abovebar {
        flex-direction: column;
        gap: 23px;
        align-items: center;
    }

    .songtime,
    .songinfo {
        width: auto
    }

    .timevol {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .cardContainer {
        max-height: unset;
        overflow-y: unset;
        margin-bottom: 35vh;
    }

    .playbar {
        left: 50%;
        transform: translateX(-50%);
        width: calc(100% - 30px);
        bottom: 0;
    }

    .play {
        position: absolute;
        bottom: 130px;
        right: 18px;
    }

    .volume img {
        margin-top: 10px;
        margin-left: 35px;
    }

    .volume:hover {
        transition: transform 0.2s ease;
        transform: translateX(-50px);
    }

}

@media (max-width: 500px) {
    .card {
        width: 100%;
    }

    .buttons>* {
        margin: 0px 5px;
    }

    .header {
        padding: 7px;
        border-radius: 0px;
    }

    .spotifyPlaylists {
        padding: 4px;
    }

    .library {
        height: 75vh;
    }

    .left {
        position: fixed;
        top: 0;
        width: 100vw;
    }



}

@media (max-width: 300px) {
    .nav {
        padding: 10px;
        font-size: 12px;
    }
}

@media (max-width: 365px) {
    .buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
    }

    .buttons>* {
        margin: 0;
        font-size: 12px;
    }

    .signupbtn {
        padding: 5px;
    }

    .loginbtn {
        width: auto;
        padding: 5px 10px;
    }

    .loginbtn:hover {
        width: auto;
    }
}